.profile-heading {
  width: 100%;
  display: flex;
  padding: 2rem;
  /* background-color: #111fff; */
  background-image: linear-gradient(to right, #3cde93, #0899c6, #02c1ec);
  gap: 2rem;
  overflow: hidden;
}
.floating-heading{
  transform: translateY(0);
  animation: fl1 3s infinite linear;
}

.floating-heading::before{
  content: attr(data-text);
  position: absolute;
  clip-path: polygon(0,0,100%,0,100%,50%,0,50%);
  animation: fl1 3s infinite linear;
}

@keyframes fl1 {
  30%{
    transform: translateY(10%);
  }
}

.box {
  height: 100px;
  width: 100px;
  background-color: #fff;
  color: #02c1ec;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pfp {
  background-color: #bdbdbd;
  border-radius: 50%;
}

.profile-sections {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.label-inp {
  display: flex;
  flex-direction: column;
}
.lbl {
  font-weight: bold;
  padding: 1px;
}
.inp {
  width: 100%;
  padding: 1rem;
}

.editBtn {
  position: absolute;
  right: 5%;
  top: 35%;
}
